.stand {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 168px;
    padding: 44px 0 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
